<div style="background-color:#e9ecef;">
<div class="container col-md-6" id="main-container" style="padding-top: 55px; z-index: 1;">

  <!-- hotel image start-->
  <div class="card m-b-30" style="border-radius: 15px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div  class="carousel-item active">
            <img src={{hotelImageOne}} class="d-block w-100" (error)="randomNumber('one')" id="one" alt="..."   style="border-radius: 15px; height: 13cm;">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{oneHotel?.hotelname}}</h5>
          </div>
        </div>
        <div class="carousel-item" >
          <img src="{{hotelImageTwo}}" class="d-block w-100" (error)="randomNumber('two')" id="two" alt="..."  style="border-radius: 15px; height: 13cm;">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{oneHotel?.hotelname}}</h5>
          </div>
        </div>
        <div class="carousel-item" >
          <img src="{{hotelImageThr}}" class="d-block w-100" (error)="randomNumber('thr')" id="thr" alt="..."  style="border-radius: 15px; height: 13cm;">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{oneHotel?.hotelname}}</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- hotel image end-->

    <div class="card-body row" >


      <div><hr></div>
      
      <!-- hotel detail start -->
      <div class="card-title align-self-center mb-0">
        <table >
          <tr>
            <td>
              <h1><b>{{oneHotel?.hotelname}}</b></h1>
            </td>
          </tr>
          <tr>
            <td style="font-size: smaller;">{{oneHotel?.address}}</td>
          </tr>
          <tr>
            <td>Check In : {{hotelDetail?.checkin}} / Check Out : {{hotelDetail?.checkout}}
            </td>
          </tr>

          <tr>
            <td><div [innerHTML]=hotelDetail?.reservationpage></div></td>
          </tr>
          <tr>
            <td>{{hotelDetail?.phone}}</td>
          </tr>
          <tr>
            <td>
              <table><tr>
              <td *ngIf="hotelDetail?.seminar=='false'"><img src="../assets/imge/seminar.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.sports=='false'" ><img src="../assets/imge/sports.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.sauna=='false'" ><img src="../assets/imge/sauna.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.beauty=='false'" ><img src="../assets/imge/beauty.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.karaoke=='false'" ><img src="../assets/imge/karaoke.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.bbq=='false'" ><img src="../assets/imge/bbq.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.bicycle=='false'" ><img src="../assets/imge/bicycle.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.fitness=='false'" ><img src="../assets/imge/fitness.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.publicpc=='false'" ><img src="../assets/imge/publicpc.JPG" style="width: 35px; height: 35px;"/></td>&nbsp;&nbsp;&nbsp;
              <td *ngIf="hotelDetail?.publicshower=='false'" ><img src="../assets/imge/publicshower.JPG" style="width: 35px; height: 35px;"/></td>
              </tr></table>
            </td>
          </tr>
          <br>
        </table>
      </div>

      <div data-bs-toggle="collapse" href="#close" role="button" aria-expanded="false" aria-controls="close" default="close"  class="card-body col-12 btn" style="border-color: rgb(220, 221, 221); border-width: 1px; border-style: solid; border-radius: 10px;">
        <b>숙소 소개 펼치기</b><hr>
        <div class="collapse " id="close">{{hotelDetail?.summary}}</div>
      </div>
      <!-- hotel detail end -->

      <!-- RoomInfo or ReviewInfo -->
      <button class="btn col-6" (click)="ViewRoomReview('room')" style="border-color: rgb(144, 146, 146); border-width: 1px; border-style: solid; border-radius: 10px; background-color: rgb(147, 171, 187);" >Room Info</button>
      <button class="btn col-6" (click)="ViewRoomReview('review')" style="border-color: rgb(144, 146, 146); border-width: 1px; border-style: solid; border-radius: 10px; background-color: rgb(147, 171, 187);" >Review</button>
    </div>
  </div>

  <!-- Review -->
  <div *ngIf="RoomReview == false" class="ReviewDiv" >
  
  <div>
    <div  >
      <table class="table table-striped table-hover" >
          <tr>
            <th scope="col">아이디</th>
            <th scope="row">호텔별점</th>
            <th scope="col">리뷰내용</th>
          </tr>
        <tbody *ngFor="let review of reviews">
          <tr>
            <td>{{review?.userId}}</td>
            <td>{{review?.reviewScore}}</td>
            <td>{{review?.reviewContent}}</td>
            <td><button *ngIf="review?.userId == loginUserId" type="button" class="btn-close" aria-label="Close" (click)="deleteReview(review?.seq, review?.userId)"></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn" (click)="clickPrev()" style="background-color: rgb(147, 171, 187)">❮</button>
      <button class="btn" (click)="clickNext()" style="background-color: rgb(147, 171, 187)">❯</button>&nbsp;&nbsp;&nbsp;
      <a class="btn" (click)="clickedRegisterModel()" aria-current="page" style="background-color: rgb(147, 171, 187)">리뷰 쓰기</a>
    </div>
  </div>
  
  </div>
  <!-- Review -->


  <!-- Room Info -->
  <table class="table table-striped table-hover" style="border-style : solid; border-radius: 15px; background-color: #fff;" >
  <div *ngIf="RoomReview == true" class="RoomDiv" >
      <tbody *ngFor="let room of roomInfo" >
        <tr >
          <td style="width: 20%;">{{room?.roomname}}</td>
          <td style="font-size: smaller;"><div [innerHTML]=room?.info></div></td>
        </tr>
      </tbody>
    </div>
  </table>
  <!-- Room Info -->




  <!-- ReviewModal -->
  <div [ngClass]="reviewmodel ? 'modal fade show d-block' : 'modal fade'" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #dce0e2ab;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h5 class="modal-title" id="exampleModalLabel"><b>리뷰 남기기</b></h5>
        <div class="modal-header">
          <div class="mb-3">
            <div class="modal-body" style="width: 100%; float: none; margin: 0 auto">
              <form #addForm="ngForm" (ngSubmit)="addReview(addForm)" name="myform" id="myform" method="post">
                <textarea class="form-control" ngModel name="reviewContent" #reviewContent="ngModel" id="exampleFormControlTextarea1"
                  maxlength="300" rows="3" required></textarea>
                <input type="hidden" ngModel name="userId"/>
                <input type="hidden" ngModel name="hotelid"/>
                <fieldset>
                  <legend>호텔 리뷰 및 평점 주기</legend>
                  <input type="radio" ngModel name="reviewScore" value="5" id="rate5"><label for="rate5">⭐</label>
                  <input type="radio" ngModel name="reviewScore" value="4" id="rate4"><label for="rate4">⭐</label>
                  <input type="radio" ngModel name="reviewScore" value="3" id="rate3"><label for="rate3">⭐</label>
                  <input type="radio" ngModel name="reviewScore" value="2" id="rate2"><label for="rate2">⭐</label>
                  <input type="radio" ngModel name="reviewScore" value="1" id="rate1" required><label for="rate1">⭐</label>
                </fieldset>
                <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary" aria-current="page">클릭</button>
                <button type="button" class="btn-close" id="closeId" aria-label="Close" (click)="clickedModelClose()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

 