<div (scroll)="onScrollEvent($event)"></div>
  <div  style="background-color:#e9ecef; padding-top: 55px;z-index: 1; ">
    <div class="container col-md-9" id="main-container">
        <div class="row">
            <div *ngFor="let hotel of hotels" class="col-xl-4">
                <div class="card m-b-30"  style="border-radius: 15px;">
                    <div class="card-body row"  style="height: 5cm;">
                        <div class="col-6">
                            <!-- Hotel Image -->
                            <a routerLink="/get/{{hotel?.hotelid}}"  aria-current="page"><img src="{{hotel?.hotelimage}}" (error)="randomNumber(hotel?.hotelid)" id="{{hotel?.hotelid}}" alt="" class="img-fluid w-60" style="height: 4cm;"></a>
                        </div>
                        <div class="col-6 card-title align-self-center mb-0">
                            <a routerLink="/get/{{hotel?.hotelid}}"  aria-current="page" style="text-decoration-line: none;color: black;">
                                <table>
                                    <tr><td>⭐{{hotel?.score}}</td></tr>
                                    <tr><td><b>{{hotel?.hotelname}}</b></td></tr>
                                </table>
                            <div style="font-size: smaller;"><br />{{hotel?.address}}</div>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>