<div (scroll)="onScrollEvent($event)"></div>
<div class="container" id="main-container">
  <div class="row">
      <div *ngFor="let hotel of hotels" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
              <div class="card-body row">
                  <div class="col-6">
                      <!-- Hotel Image -->
                      <a href=""><img src="{{hotel?.hotelimage}}" alt="" class="img-fluid rounded-circle w-60"></a>
                  </div>
                  <div class="col-6 card-title align-self-center mb-0">
                      <h5>{{hotel?.hotelname}}</h5>
                  </div>
              </div>
              <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>hotelid : {{hotel?.hotelid}}</li> -->
                  <!-- <li class="list-group-item"><i class="fa fa-phone float-right"></i>hotelname : {{hotel?.hotelname}}</li> -->
                  <li class="list-group-item"><i class="fa fa-phone float-right"></i>address : {{hotel?.address}}</li>
                  <!-- <li class="list-group-item"><i class="fa fa-phone float-right"></i>hotelimage : {{hotel?.hotelimage}}</li> -->
              </ul>
              </div>
              <a  class="btn btn-primary" routerLink="/get/{{hotel?.hotelid}}"  aria-current="page">보러가기</a>
          </div>
      </div>
  </div>


