<!-- Head -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <a   class="btn btn-dark" routerLink="/"  aria-current="page">호텔 4조 프로젝트</a>&nbsp;&nbsp;&nbsp;&nbsp;
       
       <!-- Search -->
       <div class="btn-group" role="group">
         <form class="d-flex" #searchForm="ngForm" (ngSubmit)="HotelList(searchForm)">
          <select ngModel name="keyword2" id="singleSelect" >
            <option value="">지역 선택</option>
            <option value="서울">서울</option>
            <option value="부산">부산</option>
            <option value="경상남도">경상남도</option>
            <option value="경상북도">경상북도</option>
            <option value="경기도">경기도</option>
            <option value="제주도">제주도</option>
            <option value="전라남도">전라남도</option>
            <option value="전라북도">전라북도</option>
          </select> &nbsp;&nbsp;
          <input class="form-control me-2" type="search" placeholder="Search" ngModel name="keyword1" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
        </form>
      </div>
      <!-- Search -->
     
      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           
            <a class="btn btn-dark" routerLink="/list" aria-current="page">호텔목록 보러가기</a>&nbsp;&nbsp;
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              메뉴
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li ></li>
              <li [value]="Loginstate"><a class="dropdown-item" (click)="clickedLoginModal()" >{{Loginstate}}</a></li>
              <li [value]="mystate"><a class="dropdown-item" (click)="clickedRegisterModal()" >{{mystate}}</a></li>
              <!-- <li *ngIf="loginid === null"><a class="dropdown-item" (click)="clickedRegisterModal()">회원가입</a></li>
              <li *ngIf="loginid !== null"><a class="dropdown-item" (click)="clickedRegisterModal()">마이페이지</a></li> -->
              <li></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Head -->

<!-- Body -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let location of locations">
      <div class="card">
        <img src="../assets/imge/{{location}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>{{location}}</b></h5>
          <p 호텔 class="card-text"> 우리가 추천 하는 {{location}} 호텔</p>
          <button class="btn btn-primary" [routerLink]="['/list', location]">{{location}} 지금 바로 보러가기</button>
        </div>
      </div>
    </div>
  </div>
<!-- Body -->

<!-- Modal -->
<div [ngClass]="Loginmodal ? 'modal fade show d-block' : 'modal fade'" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #dce0e2ab;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>로그인</b></h5>
        <button type="button" class="close" (click)="clickedModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-floating" (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm" >
          <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
            <input type="text" class="form-control" ngModel name="userId" required minlength="8" pattern="[A-Za-z0-9]+"
              #username="ngModel"> <label>아이디 입력</label>
            <ul>
              <li class="help-block" *ngIf="!username.valid && username.touched">유효하지 않은 아이디입니다.</li>
              <li class="help-block" *ngIf="username.errors?.required && username.touched">아이디는 필수 입력사항입니다.</li>
              <li class="help-block" *ngIf="username.errors?.minlength && username.touched">아이디는 반드시 8자 이상입니다.</li>
              <li class="help-block" *ngIf="username.errors?.pattern && username.touched">아이디에는 한글, 한자, 공백등이 들어갈수 없습니다.
              </li>
              <li class="help-block" *ngIf="username.errors?.pattern && username.touched">영어 대/소문자, 숫자만 입력하세요.</li>
            </ul>

          </div>
          <br />
          <div class="form-floating" style="width: 30%; float: none; margin: 0 auto">
            <input type="password" class="form-control" ngModel name="password" required minlength="8"
              #password="ngModel">
            <label>비밀번호 입력</label>
            <ul>
              <li class="help-block" *ngIf="!password.valid && password.touched">유효하지 않은 비밀번호입니다.</li>
              <li class="help-block" *ngIf="password.errors?.required && password.touched">비밀번호는 필수 입력사항입니다.</li>
              <li class="help-block" *ngIf="password.errors?.minlength && password.touched">비밀번호는 8자 이상입니다.</li>
            </ul>
          </div>

          <div class="modal-footer">
            <div style="width: 30%; float: none; margin: 0 auto">
              <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/home" [disabled]="!loginForm.valid">
                로그인 하기
              </button>

              <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </div>
            <button type="button" class="btn btn-secondary" (click)="clickedModalClose()">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div [ngClass]="Registermodal ? 'modal fade show d-block' : 'modal fade'" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #dce0e2ab;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">회원가입</h5>
        <button type="button" class="close" (click)="clickedModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
        <div class="modal-body" style="width: 50%; float: none; margin: 0 auto">

          <input type="text" ngModel name="userId" placeholder="아이디 입력">
          <br />
          <br />
          <input type="password" ngModel name="password" placeholder="비밀번호 입력">

        </div>
        <div class="modal-footer">
          <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="clickedModalClose()">회원가입</button>
          <button type="button" class="btn btn-secondary" id="add-register" (click)="clickedModalClose()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->