<!-- Body -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let location of locations">
      <div class="card">
        <img src="../assets/imge/{{location}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>{{location}}</b></h5>
          <p 호텔 class="card-text"> 우리가 추천 하는 {{location}} 호텔</p>
          <button class="btn btn-primary" [routerLink]="['/list', location]">{{location}} 지금 바로 보러가기</button>
        </div>
      </div>
    </div>
  </div>
<!-- Body -->