<!-- Body -->
<div style="background-color:#e9ecef;">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="z-index: 1; background-color:#e9ecef;">
  <div class="carousel-indicators">
    <table>
        
        &nbsp;&nbsp;<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        &nbsp;&nbsp;<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        &nbsp;&nbsp;<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

      <tr>
       <a class="btn btn-secondary" style="height: 45px;" routerLink="/list" aria-current="page">호텔목록 보러가기</a>
    </tr>
      </table>                 
  </div>
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <img src="../assets/imge/야경.jpg" class="d-block w-100" alt="..." style="border-radius:15px; height: 500px;  padding-top: 1px;"  >
      <div class="carousel-caption d-none d-md-block">
        <h1 style=" padding-bottom: 100px;">첫 여행은 4조와 함께 즐기고</h1>

      </div>
    </div>
    <div class="carousel-item">
      
      <img src="../assets/imge/야경2.jpg" class="d-block w-100" alt="... "style="border-radius:15px; height: 500px;  padding-top: 1px;">
      <div class="carousel-caption d-none d-md-block">
       
        <h1 style=" padding-bottom: 100px;">편안한 휴식과 힐링을 위해</h1>
      </div>

    </div>
    <div class="carousel-item">
      <img src="../assets/imge/야경3.jpg" class="d-block w-100" alt="..."style="border-radius:15px; height: 500px;  padding-top: 1px;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style=" padding-bottom: 100px;">최선을 다해 모시겠습니다</h1>
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="position-relative">
  <div class="card-group" class="row row-cols-10 row-cols-md-6 " style="width: 2340px; height: 500px;  background-color:#e9ecef; padding-top:30px">
    <div class="col-3" *ngFor="let location of locations">
      <div class="card" style="border-radius:15px;">
        <img src="../assets/imge/{{location}}.jpg" class="card-img-top" alt="..." style="border-radius:15px;">
        <div class="card-body">
          <h5 class="card-title"><b>{{location}}</b></h5>
          <p 호텔 class="card-text"> 우리가 추천 하는 {{location}} 호텔</p>
          <button class="btn btn-primary" [routerLink]="['/list', location]">{{location}} 지금 바로 보러가기</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body -->
